@page
@model WebRazor.Pages.Customer.BookingRoomModel

@{
    
    var permission = HttpContext.Session.GetString("account");
    if (permission == null)
    {
        Response.Redirect("../Index");
        return;
    }
    ViewData["Title"] = "BookingRoom";
    Layout = "~/Pages/Shared/_LayoutCustomer.cshtml";
}

<h1>BookingRoom</h1>

<h4>Room Type : @Html.DisplayFor(modle => modle.typeRoom.RoomTypeName)</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <input type="hidden" name="typeId" value="@Model.typeRoom.RoomTypeId">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BookingRequest.Quantity" class="control-label"></label>
                <input asp-for="BookingRequest.Quantity" min="1" max="5" class="form-control"/>
                <span asp-validation-for="BookingRequest.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookingRequest.StartDate" class="control-label"></label>
                <input asp-for="BookingRequest.StartDate" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" min="@DateTime.Now.ToString("yyyy-MM-dd")" />
                <span asp-validation-for="BookingRequest.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookingRequest.EndDate" class="control-label"></label>
                <input asp-for="BookingRequest.EndDate" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" min="@DateTime.Now.ToString("yyyy-MM-dd")" />
                <span asp-validation-for="BookingRequest.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
        <div class="form-group text-danger">
            @ViewData["notification"]
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}