@page
@model WebRazor.Pages.Customer.BookingInformationsModel

@{
    var permission = HttpContext.Session.GetString("account");
    if (permission == null)
    {
        Response.Redirect("../Index");
        return;
    }

    ViewData["Title"] = "BookingInformations";
    Layout = "~/Pages/Shared/_LayoutCustomer.cshtml";
}

<h1>BookingInformations</h1>


@*
<table class="table table-sm  table-striped table-bordered m-2">
    <thead>
    <tr>
        <th>BookingReservationId</th><th>CustomerId</th><th>BookingDate</th><th>TotalPrice</th><th>Status</th><th></th><th></th>
    </tr><
    </thead>
    <tbody></tbody>
</table>

<script type="text/javascript">
$(document).ready(function () {
    BookingReservation();
    
    function BookingReservation() {
        $("table tbody").html("");
        
        $.ajax({
            url: "https://localhost:7098/api/RoomType/GetRoomTypes",
            type: "get",
            contentType: "application/json",
            success: function (result, status, xhr) {
                console.log("Dữ liệu từ API:", result);
                $("tbody").html("");
                $.each(result, function (index, value) {
                    $("tbody").append($("<tr>"));
                    var appendElement = $("tbody tr").last();
                    
                    // Kiểm tra và thêm giá trị vào từng cột
                    appendValueToColumn(appendElement, value["roomTypeId"]);
                    appendValueToColumn(appendElement, value["roomTypeName"]);
                    appendValueToColumn(appendElement, value["typeDescription"]);
                    appendValueToColumn(appendElement, value["typeNote"]);
                    
                    // Thêm giá trị cho cột "Booking"
                    var bookingLink = "<a href='/BookingRoom/" + value["id"] + "'>Book Now</a>";
                    appendValueToColumn(appendElement, bookingLink);
                });
            },
            error: function (xhr, status, error) {
                console.log(xhr)
            }
        });
    }
    
    // Hàm để thêm giá trị vào cột, kiểm tra xem giá trị có tồn tại không
    function appendValueToColumn(element, value) {
        if (value) {
            element.append($("<td>").html(value));
        } else {
            element.append($("<td>").html("-")); // hoặc bất kỳ dấu nào để chỉ ra ô trống
        }
    }
});
</script>
*@


<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BookingReservation[0].BookingReservationId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookingReservation[0].CustomerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookingReservation[0].BookingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookingReservation[0].TotalPrice)
        </th>
        <th>
            <a>Status</a>
        </th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.BookingReservation)
    {
        <form method="post">
            <input type="hidden" name="id" value="@item.BookingReservationId"/>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BookingReservationId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookingDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
                <td>
                    @{
                        if (item.Status == 0)
                        {
                            <a>Cancel</a>
                        }
                        else
                        {
                            <a>Booking</a>
                        }
                    }
                </td>
                <td>
                    <a asp-page="./BookingDetail" asp-route-id="@item.BookingReservationId">Details</a>
                </td>
                <td>
                    @{
                        if (item.Status == 1)
                        {
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary"/>
                            </div>
                        }
                    }
                </td>
            </tr>
        </form>
    }
    </tbody>
</table>